.search-header {
    width:750px; text-align:center; margin:0 auto;
    margin-top:50px;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  text-align: center;
  width:100%;
}

.footer-link {
    padding:5px;
}

.logo {
    left: 20px;
    text-decoration: none;
    color: inherit;
    font-family: 'Grand Hotel',cursive;
    font-size: 62px;
    color:#FFFFFF;
    margin: 0 auto;
    padding-top:5%;
}

.description {
    margin-top:5px;
    font-size:12px;
    width:200px;
    height:40px;
}

.header-container {
    width:100%;
    height:300px;
    margin: 0 auto;
    text-align: center;
    background-color:#cf4646;
}

.table-link {
    text-decoration: underline;
    color:#428bca;
    cursor: pointer;
}

.no-items {
    text-align:center;
    font-size:40px;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}