<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>gulp.js plugin search</title>
        <!-- Bootstrap core CSS -->
        <link href="dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/stylesheet.css" rel="stylesheet">
        <script type="text/javascript" src="js/lib/jquery-1.11.1.js"></script>
        <script type="text/javascript" src="js/lib/angular.js"></script>
        <script src="js/lib/jquery.timeago.js" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/grand-hotel" rel="stylesheet" type="text/css"/>
    </head>
    <body id="outer" ng-app="gulpPluginApp" ng-cloak>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/gulp.js"></script>
        <div ng-controller="PluginsController">
            <div class="header-container">
                <h1 class="logo">Search gulp.js plugins with some flair.</h1>
                <h2 class="search-header"><input type="text" placeholder="search by any property e.g. name or author" class="form-control input-lg" ng-model="pluginFilter" /></h2>
            </div>
            <div class="container">
                <br /><br />
                <table class="table table-condensed table-hover">
                    <tr>
                        <th style="width:300px;padding-bottom:20px;">Name</th>
                        <th style="width:200px;" class="hidden-xs">Author</th>
                        <th>Version</th>
                        <th class="table-link hidden-xs" ng-click="doSort('downloads_this_month')">Downloads this Month</th>
                        <th style="width:50px;" class="table-link hidden-xs" ng-click="doSort('github_stars')"> Stars</th>
                        <th style="width:50px;" class="hidden-xs">Forks</th>
                        <th class="hidden-xs">GitHub Repository</th>
                        <th class="table-link hidden-xs" ng-click="doSort('time')">Updated</th>
                    </tr>
                    <tr ng-repeat="plugin in plugins | filter:pluginSearch track by $index">
                        <td style="width: 300px;padding-bottom:20px"><a target="_blank" ng-href="{{ plugin.links['npm'] }}">{{ plugin.name }}</a><br /><span class="description">{{ plugin.description }}</span></td>
                        <td style="width:200px;" class="hidden-xs">{{ plugin.author }}</td>
                        <td class="hidden-xs">{{ plugin.version }}</td>
                        <td class="hidden-xs">{{ plugin.downloads_this_month }}</td>
                        <td style="width:50px;" class="hidden-xs">{{ plugin.github_stars }}</td>
                        <td style="width:50px;" class="hidden-xs">{{ plugin.github_forks }}</td>
                        <td class="hidden-xs"><a target="_blank" ng-href="{{ plugin.homepage }}">{{ plugin.github_repo }}</a></td>
                        <td class="hidden-xs">{{ plugin.updated_ago }}</td>
                    </tr>
                </table>
        </div>
        <div id="footer">
          <div class="container">
                Author(s):
                <a class="footer-link" target="_blank" href="https://github.com/gchaturvedi">Gaurav Chaturvedi</a>
                <a class="footer-link" target="_blank" href="https://github.com/edasque">Erik Dasque</a>
          </div>
        </div>
    </body>
</html>